<footer>
    <div class="f-info">
        <div class="f-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="f-info-brand"><i class="fa-light fa-copyright"></i>&copy; Wanderlust private limited</div>
        <div class="f-info-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>

        </div>

    </div>
</footer>